 # NYC Trip Fare

In [2]:
import pandas as pd

NYC = pd.read_csv('D:/informatica uni/Data Science Magistrale/foundations of CS/data.csv', low_memory=False)
NYC.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [5]:
pip install skimpy

Requirement already satisfied: skimpy in d:\anaconda\anaconda3\lib\site-packages (0.0.15)
Requirement already satisfied: Pygments<3.0.0,>=2.10.0 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (2.15.1)
Requirement already satisfied: click<9.0.0,>=8.1.6 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (8.1.7)
Requirement already satisfied: ipykernel<7.0.0,>=6.7.0 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (6.28.0)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (1.26.4)
Requirement already satisfied: pandas<3.0.0,>=2.0.3 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (2.2.2)
Requirement already satisfied: polars<0.21,>=0.19 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (0.20.31)
Requirement already satisfied: pyarrow<17,>=13 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (14.0.2)
Requirement already satisfied: rich<14.0,>=10.9 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (13.3.5)
Requirement already satisfied: typeguard==4.2.1 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (4.2.1)
Requirement already satisfied: typing-extensions>=4.10.0 in d:\anaconda\anaconda3\lib\site-packages (from typeguard==4.2.1->skimpy) (4.11.0)
Requirement already satisfied: colorama in d:\anaconda\anaconda3\lib\site-packages (from click<9.0.0,>=8.1.6->skimpy) (0.4.6)
Requirement already satisfied: comm>=0.1.1 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.1)
Requirement already satisfied: debugpy>=1.6.5 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (8.25.0)
Requirement already satisfied: jupyter-client>=6.1.12 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.1.6)
Requirement already satisfied: nest-asyncio in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.6.0)
Requirement already satisfied: packaging in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (23.2)
Requirement already satisfied: psutil in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.9.0)
Requirement already satisfied: pyzmq>=24 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (25.1.2)
Requirement already satisfied: tornado>=6.1 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (6.4.1)
Requirement already satisfied: traitlets>=5.4.0 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.14.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\anaconda3\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\anaconda3\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\anaconda3\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2023.3)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in d:\anaconda\anaconda3\lib\site-packages (from rich<14.0,>=10.9->skimpy) (2.2.0)
Requirement already satisfied: decorator in d:\anaconda\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\anaconda\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.18.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in d:\anaconda\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (3.0.43)
Requirement already satisfied: stack-data in d:\anaconda\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.0)
Requirement already satisfied: platformdirs>=2.5 in d:\anaconda\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.7.0->skimpy) (3.10.0)
Requirement already satisfied: pywin32>=300 in d:\anaconda\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.7.0->skimpy) (305.1)
Requirement already satisfied: mdurl~=0.1 in d:\anaconda\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich<14.0,>=10.9->skimpy) (0.1.0)
Requirement already satisfied: six>=1.5 in d:\anaconda\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.0.3->skimpy) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\anaconda\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.3)
Requirement already satisfied: wcwidth in d:\anaconda\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.5)
Requirement already satisfied: executing in d:\anaconda\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.3)
Requirement already satisfied: asttokens in d:\anaconda\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (2.0.5)
Requirement already satisfied: pure-eval in d:\anaconda\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
from skimpy import skim

skim(NYC)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                 Data Types                                                                │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                         │
│ ┃ dataframe         ┃ Values  ┃ ┃ Column Type ┃ Count ┃                                                         │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                         │
│ │ Number of rows    │ 6405008 │ │ float64     │ 13    │                                                         │
│ │ Number of columns │ 18      │ │ datetime64  │ 2     │                                                         │
│ └───────────────────┴─────────┘ │ int32       │ 2     │                                                         │
│                                 │ string      │ 1     │                                                         │
│                                 └─────────────┴───────┘                                                         │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━┓  │
│ ┃ column_name           ┃ NA     ┃ NA %  ┃ mean   ┃ sd      ┃ p0     ┃ p25   ┃ p50  ┃ p75  ┃ p100   ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━┩  │
│ │ VendorID              │  65441 │  1.02 │   1.67 │  0.4703 │      1 │     1 │    2 │    2 │      2 │ ▃    ▇ │  │
│ │ passenger_count       │  65441 │  1.02 │  1.515 │   1.152 │      0 │     1 │    1 │    2 │      9 │  ▇▂▁   │  │
│ │ trip_distance         │      0 │     0 │   2.93 │   83.16 │ -30.62 │  0.96 │  1.6 │ 2.93 │ 210200 │   ▇    │  │
│ │ RatecodeID            │  65441 │  1.02 │   1.06 │  0.8118 │      1 │     1 │    1 │    1 │     99 │   ▇    │  │
│ │ PULocationID          │      0 │     0 │  164.7 │   65.54 │      1 │   132 │  162 │  234 │    265 │ ▁▃▃▇▁▇ │  │
│ │ DOLocationID          │      0 │     0 │  162.7 │   69.91 │      1 │   113 │  162 │  234 │    265 │ ▁▃▂▇▁▇ │  │
│ │ payment_type          │  65441 │  1.02 │   1.27 │   0.474 │      1 │     1 │    1 │    2 │      5 │   ▇▃   │  │
│ │ fare_amount           │      0 │     0 │  12.69 │   12.13 │  -1238 │   6.5 │    9 │   14 │   4265 │    ▇   │  │
│ │ extra                 │      0 │     0 │  1.115 │    1.26 │    -27 │     0 │  0.5 │  2.5 │    113 │    ▇   │  │
│ │ mta_tax               │      0 │     0 │ 0.4923 │ 0.07374 │   -0.5 │   0.5 │  0.5 │  0.5 │   30.8 │   ▇    │  │
│ │ tip_amount            │      0 │     0 │  2.189 │    2.76 │    -91 │     0 │ 1.95 │ 2.86 │   1100 │   ▇    │  │
│ │ tolls_amount          │      0 │     0 │ 0.3488 │   1.767 │ -35.74 │     0 │    0 │    0 │  910.5 │   ▇    │  │
│ │ improvement_surcharge │      0 │     0 │  0.298 │ 0.03386 │   -0.3 │   0.3 │  0.3 │  0.3 │    0.3 │      ▇ │  │
│ │ total_amount          │      0 │     0 │  18.66 │   14.76 │  -1242 │ 11.16 │ 14.3 │ 19.8 │   4268 │    ▇   │  │
│ │ congestion_surcharge  │      0 │     0 │  2.276 │  0.7353 │   -2.5 │   2.5 │  2.5 │  2.5 │   2.75 │   ▁  ▇ │  │
│ └───────────────────────┴────────┴───────┴────────┴─────────┴────────┴───────┴──────┴──────┴────────┴────────┘  │
│                                                    datetime                                                     │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━┳━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓  │
│ ┃ column_name               ┃ NA  ┃ NA %   ┃ first                   ┃ last                    ┃ frequency   ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━╇━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━┩  │
│ │ tpep_pickup_datetime      │   0 │      0 │   2003-01-01 00:07:17   │   2021-01-02 01:12:10   │ None        │  │
│ │ tpep_dropoff_datetime     │   0 │      0 │   2003-01-01 14:16:59   │   2021-01-02 01:25:01   │ None        │  │
│ └───────────────────────────┴─────┴────────┴─────────────────────────┴─────────────────────────┴─────────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name                       ┃ NA         ┃ NA %      ┃ words per row           ┃ total words         ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ store_and_fwd_flag                │      65441 │      1.02 │                    0.99 │             6339567 │  │
│ └───────────────────────────────────┴────────────┴───────────┴─────────────────────────┴─────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## 1.Extract all trips with trip_distance larger than 50

In [11]:
larger_trip = NYC[NYC['trip_distance'] > 50]
larger_trip

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
23842,2.0,2020-01-01 01:53:07,2020-01-01 03:54:41,1.0,52.30,5.0,N,262,265,1.0,300.00,0.00,0.0,61.78,6.12,0.3,370.70,2.5
39013,2.0,2020-01-01 02:05:07,2020-01-01 03:03:10,1.0,51.23,5.0,N,264,264,1.0,329.00,0.00,0.5,100.78,6.12,0.3,436.70,0.0
41620,1.0,2020-01-01 03:05:54,2020-01-01 04:16:26,1.0,53.80,5.0,N,132,265,1.0,250.00,0.00,0.0,53.35,16.62,0.3,320.27,0.0
58262,2.0,2020-01-01 05:36:12,2020-01-01 06:40:06,1.0,55.23,5.0,N,132,265,2.0,170.00,0.00,0.5,0.00,18.26,0.3,189.06,0.0
63024,2.0,2020-01-01 07:40:30,2020-01-01 08:40:01,1.0,54.19,5.0,N,132,265,1.0,230.00,0.00,0.0,0.00,12.24,0.3,242.54,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6326169,2.0,2020-01-31 22:47:26,2020-01-31 23:49:14,1.0,51.83,5.0,N,132,265,1.0,220.00,0.00,0.5,48.96,23.99,0.3,293.75,0.0
6331181,2.0,2020-01-31 23:45:36,2020-02-01 01:00:25,5.0,57.99,4.0,N,107,265,1.0,245.00,0.50,0.5,38.24,6.12,0.3,293.16,2.5
6333801,2.0,2020-01-31 23:24:16,2020-02-01 01:32:56,1.0,52.97,4.0,N,264,265,1.0,227.00,0.50,0.5,46.16,0.00,0.3,276.96,2.5
6397132,NaN,2020-01-28 11:54:00,2020-01-28 19:35:00,NaN,60.36,NaN,NaN,17,61,NaN,12.04,0.00,0.5,0.00,12.24,0.3,25.08,0.0
6398446,NaN,2020-01-28 07:37:00,2020-01-28 08:42:00,NaN,210240.07,NaN,NaN,76,231,NaN,37.77,2.75,0.5,0.00,0.00,0.3,41.32,0.0

## 2.Extract all trips where payment_type is missing

In [14]:
no_payment = NYC[NYC['payment_type'].isna()]
no_payment

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.00,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.00,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.00,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.00,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.00,0.3,28.83,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.0,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.0,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.0,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.0,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.0,0.00,0.3,58.11,0.0

## 3.For each (PULocationID, DOLocationID) pair, determine the number of trips

In [17]:
n_trips = NYC.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='n_trips')
n_trips

       PULocationID  DOLocationID  n_trips
0                 1             1      638
1                 1            50        1
2                 1            68        1
3                 1           138        2
4                 1           140        1
...             ...           ...      ...
31272           265           259        2
31273           265           261        1
31274           265           263        4
31275           265           264      317
31276           265           265     2508

[31277 rows x 3 columns]

## 4.Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [104]:
bad = NYC[NYC[['VendorID', 'passenger_count', 'store_and_fwd_flag', 'payment_type']].isna().any(axis=1)]
NYC = NYC.drop(bad.index)

In [106]:
# sistemato le date (non ho ricodificato le altre)
prova = NYC
prova['tpep_pickup_datetime'] = pd.to_datetime(NYC['tpep_pickup_datetime'])
prova['tpep_dropoff_datetime'] = pd.to_datetime(NYC['tpep_dropoff_datetime'])

## 5.Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime)

In [109]:
prova['duration'] = (prova['tpep_dropoff_datetime'] - prova['tpep_pickup_datetime']).dt.total_seconds()
prova

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,288.0
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,445.0
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,371.0
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,291.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,138.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,854.0
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5,1140.0
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5,977.0
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5,578.0
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,64.0

In [111]:
# c'è una riga che ha un errore nei tempi di pickup e dropoff (drop off two days earlier than pickup)
err_duration = prova[prova['duration'] < 0]
err_duration

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
540040,1.0,2020-01-04 08:19:55,2020-01-02 10:09:33,1.0,3.5,1.0,N,107,237,1.0,16.5,2.5,0.5,4.95,0.0,0.3,24.75,2.5,-166222.0

## 6.For each pickup location, determine how many trips have started there.

In [114]:
n_started = prova.groupby('PULocationID').size().rename('n_started').to_frame()
n_started

              n_started
PULocationID
1                   753
2                     3
3                    70
4                  9902
5                    39
...                 ...
261               34229
262               85591
263              123997
264               43779
265                3090

[260 rows x 1 columns]

## 7.Cluster the pickup time of the day into 30-minute intervals (e.g. from 02:00 to 02:30)

In [117]:
prova['pickup_interval'] = pd.to_datetime(prova['tpep_pickup_datetime']).dt.floor('30min')
prova

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_interval
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,288.0,2020-01-01 00:00:00
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,445.0,2020-01-01 00:30:00
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,371.0,2020-01-01 00:30:00
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,291.0,2020-01-01 00:30:00
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,138.0,2020-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,854.0,2020-01-31 23:30:00
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5,1140.0,2020-01-31 23:00:00
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5,977.0,2020-01-31 23:00:00
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5,578.0,2020-01-31 23:30:00
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,64.0,2020-01-31 23:00:00

## 8.For each interval, determine the average number of passengers and the average fare amount.

In [120]:
intervals = prova.groupby('pickup_interval')[['passenger_count', 'fare_amount']].mean().rename(
    columns={'passenger_count': 'average passenger count', 'fare_amount': 'average fare amount'})
intervals

                     average passenger count  average fare amount
pickup_interval
2003-01-01 00:00:00                 1.000000             0.000000
2008-12-31 23:00:00                 2.000000            18.857143
2008-12-31 23:30:00                 1.000000            22.666667
2009-01-01 00:00:00                 1.777778            25.166667
2009-01-01 00:30:00                 2.000000            24.250000
...                                      ...                  ...
2020-07-10 11:30:00                 1.000000             7.000000
2020-07-31 18:30:00                 1.000000             5.000000
2021-01-02 00:00:00                 1.000000            10.500000
2021-01-02 00:30:00                 1.000000            11.500000
2021-01-02 01:00:00                 1.000000            10.000000

[1539 rows x 2 columns]

## 9.For each payment type and each interval, determine the average fare amount

In [123]:
payments_intervals = prova.groupby(['pickup_interval', 'payment_type'])['fare_amount'].mean().reset_index().rename(
    columns={'fare_amount': 'average fare amount'})
payments_intervals

         pickup_interval  payment_type  average fare amount
0    2003-01-01 00:00:00           2.0                  0.0
1    2008-12-31 23:00:00           1.0                 13.5
2    2008-12-31 23:00:00           2.0                 26.0
3    2008-12-31 23:30:00           1.0                 52.0
4    2008-12-31 23:30:00           2.0                  8.0
...                  ...           ...                  ...
6007 2020-07-10 11:30:00           1.0                  7.0
6008 2020-07-31 18:30:00           2.0                  5.0
6009 2021-01-02 00:00:00           2.0                 10.5
6010 2021-01-02 00:30:00           2.0                 11.5
6011 2021-01-02 01:00:00           1.0                 10.0

[6012 rows x 3 columns]

## 10.For each payment type, determine the interval when the average fare amount is maximum

In [126]:
max_avg_fare = payments_intervals.loc[payments_intervals.groupby('payment_type')['average fare amount'].idxmax()]
max_avg_fare

         pickup_interval  payment_type  average fare amount
3    2008-12-31 23:30:00           1.0              52.0000
6    2009-01-01 00:00:00           2.0              26.4375
2946 2020-01-16 03:30:00           3.0              45.8000
4304 2020-01-23 05:00:00           4.0              83.8000
4020 2020-01-21 17:30:00           5.0               0.0000

## 11.For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum

## 12.Find the location with the highest average fare amount

## 13.Build a new dataframe (called common) where, for each pickup location we keep all trips to the 5 most common destinations (i.e. each pickup location can have different common destinations).

## 14.On the common dataframe, for each payment type and each interval, determine the average fare amount

## 15.Compute the difference of the average fare amount computed in the previous point with those computed at point 9.

## 16.Compute the ratio between the differences computed in the previous point and those computed in point 9. Note: you have to compute a ratio for each pair (payment type, interval).

## 17.Build chains of trips. Two trips are consecutive in a chain if (a) they have the same VendorID, (b) the pickup location of the second trip is also the dropoff location of the first trip, (c) the pickup time of the second trip is after the dropoff time of the first trip, and (d) the pickup time of the second trip is at most 2 minutes later than the dropoff time of the first trip.

Hint: Add a column chain to the dataset. A chain can have more than two trips.