 # NYC Trip Fare

In [2]:
import pandas as pd
#prova modifica
#ok funziona
#ma senza passare da 'salva'?
#no :(

In [4]:
!pip install kaggle

Requirement already satisfied: kaggle in /opt/anaconda3/lib/python3.12/site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.12/site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.12/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /opt/anaconda3/lib/python3.12/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kaggle) (3.7)

In [5]:
!kaggle datasets download -d diishasiing/revenue-for-cab-drivers

Dataset URL: https://www.kaggle.com/datasets/diishasiing/revenue-for-cab-drivers
License(s): apache-2.0
revenue-for-cab-drivers.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
import zipfile
with zipfile.ZipFile('revenue-for-cab-drivers.zip', 'r') as zip_ref:
    zip_ref.extractall('.')

In [7]:
df=pd.read_csv('data.csv') #low_memory=False

/var/folders/r6/c6yvzsx90hs9_nxx95165twc0000gn/T/ipykernel_85510/2231111361.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data.csv') #low_memory=False

In [9]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

## 1.Extract all trips with trip_distance larger than 50

In [ ]:
df[df['trip_distance']>50]

## 2.Extract all trips where payment_type is missing

In [ ]:
df[df['payment_type'].isnull()]

## 3.For each (PULocationID, DOLocationID) pair, determine the number of trips

In [ ]:
n_trips=df.groupby(['PULocationID','DOLocationID']).size()
n_trips=n_trips.sort_values(ascending= False)
n_trips

## 4.Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [12]:
bad=df
bad=bad[bad['VendorID'].isnull()]
bad=bad[bad['passenger_count'].isnull()]
bad=bad[bad['store_and_fwd_flag'].isnull()]
bad=bad[bad['payment_type'].isnull()]
#bad = bad[bad['VendorID'].isnull() & bad['passenger_count'].isnull() & bad['store_and_fwd_flag'].isnull() & bad['payment_type'].isnull()]
bad

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.00,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.00,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.00,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.00,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.00,0.3,28.83,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.0,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.0,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.0,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.0,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.0,0.00,0.3,58.11,0.0

In [13]:
df=df.drop(bad.index)

In [14]:
df.reset_index()
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

## 5.Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime)

In [15]:
df['tpep_pickup_datetime']=pd.to_datetime(df['tpep_pickup_datetime'],  format ='mixed')
df['tpep_dropoff_datetime']=pd.to_datetime(df['tpep_dropoff_datetime'],  format ='mixed')
df.dtypes

VendorID                        float64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                    float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [16]:
df['duration']=df['tpep_dropoff_datetime']-df['tpep_pickup_datetime']
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18

## 6.For each pickup location, determine how many trips have started there.

In [24]:
df.groupby('PULocationID').size().sort_values(ascending=False)

PULocationID
237    292467
161    281545
236    271999
162    235024
186    228231
        ...
105         2
245         1
30          1
204         1
172         1
Length: 260, dtype: int64

## 7.Cluster the pickup time of the day into 30-minute intervals (e.g. from 02:00 to 02:30)

In [27]:
df['clustered_pu_time']=(df['tpep_pickup_datetime'].dt.hour*60+df['tpep_pickup_datetime'].dt.minute)//30
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,clustered_pu_time
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,0
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,1
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,1
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,1
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,0

## 8.For each interval, determine the average number of passengers and the average fare amount.

In [30]:
df.groupby('clustered_pu_time')[['passenger_count','fare_amount']].mean()

                   passenger_count  fare_amount
clustered_pu_time
0                         1.572848    13.526433
1                         1.584345    13.214132
2                         1.578933    12.699554
3                         1.589182    12.265997
4                         1.587479    12.089669
5                         1.587687    12.041626
6                         1.582064    12.500846
7                         1.585838    13.094785
8                         1.580261    14.192685
9                         1.515886    16.409774
10                        1.483321    18.633908
11                        1.414368    15.692556
12                        1.393482    14.578730
13                        1.383740    12.321038
14                        1.415469    12.268222
15                        1.449612    11.778843
16                        1.458988    11.953842
17                        1.444167    11.874444
18                        1.453355    12.072809
19                        1.469457    11.884284
20                        1.486685    12.053572
21                        1.494183    11.842533
22                        1.502240    11.888702
23                        1.500619    11.638112
24                        1.499564    11.905048
25                        1.499128    11.981302
26                        1.506846    12.363283
27                        1.514286    12.562459
28                        1.511807    12.975308
29                        1.509193    12.783314
30                        1.525653    12.886364
31                        1.522081    12.889025
32                        1.515844    13.282861
33                        1.512844    12.947138
34                        1.514176    12.686836
35                        1.523290    12.226527
36                        1.518246    12.157125
37                        1.525598    11.908637
38                        1.525397    11.871145
39                        1.529090    12.006640
40                        1.530152    12.502959
41                        1.539479    12.707428
42                        1.551734    12.744031
43                        1.564563    12.559674
44                        1.565824    12.805710
45                        1.571608    13.170497
46                        1.569022    13.253366
47                        1.570120    13.206596

## 9.For each payment type and each interval, determine the average fare amount

In [33]:
df.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()

payment_type  clustered_pu_time
1.0           0                    13.869142
              1                    13.472232
              2                    12.824603
              3                    12.357974
              4                    12.008589
                                     ...
4.0           44                    1.533326
              45                   -0.787090
              46                   -0.351277
              47                   -2.748432
5.0           35                    0.000000
Name: fare_amount, Length: 193, dtype: float64

## 10.For each payment type, determine the interval when the average fare amount is maximum

In [35]:
avg_fare = df.groupby(['payment_type', 'clustered_pu_time'])['fare_amount'].mean().reset_index()
avg_fare.loc[avg_fare.groupby('payment_type')['fare_amount'].idxmax()]

     payment_type  clustered_pu_time  fare_amount
10            1.0                 10    21.256949
58            2.0                 10    14.846814
110           3.0                 14    10.950938
154           4.0                 10     6.634043
192           5.0                 35     0.000000

## 11.For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum

In [39]:
df['overall_ratio']=df['tip_amount']/df['fare_amount']

In [41]:
overall_ratio = df.groupby(['payment_type', 'clustered_pu_time'])['overall_ratio'].mean().reset_index()
overall_ratio = overall_ratio[overall_ratio['overall_ratio'].notnull()]
overall_ratio.loc[overall_ratio.groupby('payment_type')['overall_ratio'].idxmax()]

     payment_type  clustered_pu_time  overall_ratio
0             1.0                  0            inf
66            2.0                 18       0.000051
138           3.0                 42       0.023336
164           4.0                 20       0.007890

In [42]:
# Raggruppa per tipo di pagamento e clustered time, calcolando la somma delle mance e delle corse
overall_ratio = df.groupby(['payment_type', 'clustered_pu_time']).agg(
    total_tip_amount=('tip_amount', 'sum'),
    total_fare_amount=('fare_amount', 'sum')
).reset_index()

# Calcola il rapporto tra la somma delle mance e la somma degli importi delle corse
overall_ratio['overall_ratio'] = overall_ratio['total_tip_amount'] / overall_ratio['total_fare_amount']

# Filtra le righe con valori non nulli per il rapporto
overall_ratio = overall_ratio[overall_ratio['overall_ratio'].notnull()]

# Trova il massimo rapporto per ogni tipo di pagamento
max_overall_ratio = overall_ratio.loc[overall_ratio.groupby('payment_type')['overall_ratio'].idxmax()]

# Visualizza il risultato
max_overall_ratio

,payment_type,clustered_pu_time,total_tip_amount,total_fare_amount,overall_ratio
37,1.0,37,485543.67,1998355.20,0.242972
58,2.0,10,15.00,109406.17,0.000137
138,3.0,42,35.62,5646.67,0.006308
170,4.0,26,36.48,170.05,0.214525

## 12.Find the location with the highest average fare amount

In [45]:
avg_fare_loc=df.groupby(['PULocationID'])['fare_amount'].mean()
avg_fare_loc.idxmax()

204

## 13.Build a new dataframe (called common) where, for each pickup location we keep all trips to the 5 most common destinations (i.e. each pickup location can have different common destinations).

In [49]:
trip_counts = df.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')

In [50]:
top_destinations = trip_counts.sort_values(['PULocationID', 'trip_count'], ascending=[True, False])

In [53]:
top_5_destinations = top_destinations.groupby('PULocationID').head(5)
top_5_destinations=top_5_destinations.reset_index()
top_5_destinations=top_5_destinations.drop('index', axis=1)
top_5_destinations

      PULocationID  DOLocationID  trip_count
0                1             1         636
1                1           264         105
2                1           265           4
3                1           138           2
4                1            50           1
...            ...           ...         ...
1255           265           265        2496
1256           265           264         317
1257           265             1          76
1258           265            48          18
1259           265           132           8

[1260 rows x 3 columns]

In [55]:
common = df.merge(top_5_destinations[['PULocationID', 'DOLocationID']], on=['PULocationID', 'DOLocationID'], how='inner')

In [56]:
common

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,clustered_pu_time,overall_ratio
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,...,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,0,0.245000
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,...,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,1,0.214286
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,...,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,1,0.166667
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,...,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,1,0.247273
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,...,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1956034,2.0,2020-02-01 00:00:37,2020-02-01 00:11:59,1.0,1.18,1.0,N,186,170,1.0,...,0.5,0.5,2.46,0.0,0.3,14.76,2.5,0 days 00:11:22,0,0.289412
1956035,2.0,2020-01-31 22:59:01,2020-01-31 23:06:15,3.0,0.90,1.0,N,238,239,2.0,...,0.5,0.5,0.00,0.0,0.3,10.30,2.5,0 days 00:07:14,45,0.000000
1956036,2.0,2020-01-31 23:44:34,2020-01-31 23:47:46,3.0,0.80,1.0,N,141,141,2.0,...,0.5,0.5,0.00,0.0,0.3,8.30,2.5,0 days 00:03:12,47,0.000000
1956037,2.0,2020-01-31 23:01:38,2020-01-31 23:05:49,1.0,0.74,1.0,N,48,142,1.0,...,0.5,0.5,1.76,0.0,0.3,10.56,2.5,0 days 00:04:11,46,0.352000
1956038,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0 days 00:01:04,46,NaN

## 14.On the common dataframe, for each payment type and each interval, determine the average fare amount

In [60]:
common.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()

payment_type  clustered_pu_time
1.0           0                    8.588957
              1                    8.690681
              2                    8.496143
              3                    8.026808
              4                    7.945909
                                     ...
4.0           44                   1.300119
              45                  -0.563944
              46                  -2.568571
              47                  -4.409173
5.0           35                   0.000000
Name: fare_amount, Length: 193, dtype: float64

## 15.Compute the difference of the average fare amount computed in the previous point with those computed at point 9.

In [63]:
common.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()-df.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()

payment_type  clustered_pu_time
1.0           0                   -5.280185
              1                   -4.781551
              2                   -4.328460
              3                   -4.331167
              4                   -4.062679
                                     ...
4.0           44                  -0.233207
              45                   0.223146
              46                  -2.217294
              47                  -1.660740
5.0           35                   0.000000
Name: fare_amount, Length: 193, dtype: float64

## 16.Compute the ratio between the differences computed in the previous point and those computed in point 9. Note: you have to compute a ratio for each pair (payment type, interval).

In [66]:
(common.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()-df.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean())/df.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()

payment_type  clustered_pu_time
1.0           0                   -0.380715
              1                   -0.354919
              2                   -0.337512
              3                   -0.350475
              4                   -0.338314
                                     ...
4.0           44                  -0.152092
              45                  -0.283508
              46                   6.312096
              47                   0.604250
5.0           35                        NaN
Name: fare_amount, Length: 193, dtype: float64

## 17.Build chains of trips. Two trips are consecutive in a chain if (a) they have the same VendorID, (b) the pickup location of the second trip is also the dropoff location of the first trip, (c) the pickup time of the second trip is after the dropoff time of the first trip, and (d) the pickup time of the second trip is at most 2 minutes later than the dropoff time of the first trip.

Hint: Add a column chain to the dataset. A chain can have more than two trips.

In [70]:
new=df.sort_values(['VendorID','tpep_pickup_datetime','tpep_dropoff_datetime']).reset_index(drop=True)

In [71]:
new.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,clustered_pu_time,overall_ratio
0,1.0,2020-01-01 00:00:00,2020-01-01 00:13:03,1.0,2.2,1.0,N,68,170,1.0,...,3.0,0.5,2.85,0.00,0.3,17.15,2.5,0 days 00:13:03,0,0.271429
1,1.0,2020-01-01 00:00:03,2020-01-01 00:13:04,2.0,3.0,1.0,N,79,162,1.0,...,3.0,0.5,2.00,0.00,0.3,17.30,2.5,0 days 00:13:01,0,0.173913
2,1.0,2020-01-01 00:00:05,2020-01-01 00:26:30,0.0,3.4,1.0,N,264,68,1.0,...,3.0,0.5,4.35,0.00,0.3,26.15,2.5,0 days 00:26:25,0,0.241667
3,1.0,2020-01-01 00:00:07,2020-01-01 00:03:26,3.0,0.6,1.0,N,75,75,2.0,...,0.5,0.5,0.00,0.00,0.3,5.80,0.0,0 days 00:03:19,0,0.000000
4,1.0,2020-01-01 00:00:25,2020-01-01 00:05:59,1.0,1.7,1.0,N,145,179,2.0,...,0.5,0.5,0.00,0.00,0.3,8.30,0.0,0 days 00:05:34,0,0.000000
5,1.0,2020-01-01 00:00:26,2020-01-01 00:08:31,4.0,1.1,1.0,N,113,107,1.0,...,3.0,0.5,20.00,0.00,0.3,30.80,2.5,0 days 00:08:05,0,2.857143
6,1.0,2020-01-01 00:00:41,2020-01-01 00:16:23,0.0,2.2,1.0,N,90,4,1.0,...,3.0,0.5,3.80,0.00,0.3,19.10,2.5,0 days 00:15:42,0,0.330435
7,1.0,2020-01-01 00:00:48,2020-01-01 00:24:26,2.0,11.7,1.0,N,132,188,2.0,...,0.5,0.5,0.00,0.00,0.3,34.80,0.0,0 days 00:23:38,0,0.000000
8,1.0,2020-01-01 00:00:49,2020-01-01 00:39:52,1.0,9.9,1.0,N,107,244,1.0,...,3.0,0.5,8.05,0.00,0.3,48.35,2.5,0 days 00:39:03,0,0.220548
9,1.0,2020-01-01 00:00:50,2020-01-01 00:02:32,2.0,0.3,1.0,N,158,158,2.0,...,3.0,0.5,0.00,0.00,0.3,7.30,2.5,0 days 00:01:42,0,0.000000
10,1.0,2020-01-01 00:00:57,2020-01-01 00:15:21,1.0,2.6,1.0,N,79,13,1.0,...,3.0,0.5,3.15,0.00,0.3,18.95,2.5,0 days 00:14:24,0,0.262500
11,1.0,2020-01-01 00:00:59,2020-01-01 00:22:31,2.0,12.2,1.0,N,88,119,2.0,...,3.0,0.5,0.00,0.00,0.3,37.30,2.5,0 days 00:21:32,0,0.000000
12,1.0,2020-01-01 00:01:01,2020-01-01 00:04:46,1.0,0.5,1.0,N,236,236,2.0,...,3.0,0.5,0.00,0.00,0.3,8.30,2.5,0 days 00:03:45,0,0.000000
13,1.0,2020-01-01 00:01:01,2020-01-01 00:11:51,1.0,1.0,1.0,N,249,79,1.0,...,3.0,0.5,1.00,0.00,0.3,12.80,2.5,0 days 00:10:50,0,0.125000
14,1.0,2020-01-01 00:01:07,2020-01-01 00:15:50,1.0,8.1,1.0,N,138,15,1.0,...,0.5,0.5,3.00,0.00,0.3,27.80,0.0,0 days 00:14:43,0,0.127660
15,1.0,2020-01-01 00:01:14,2020-01-01 00:36:40,1.0,9.6,1.0,N,166,173,1.0,...,3.0,0.5,5.00,0.00,0.3,39.80,2.5,0 days 00:35:26,0,0.161290
16,1.0,2020-01-01 00:01:15,2020-01-01 00:09:42,1.0,1.0,1.0,N,249,79,1.0,...,2.5,0.5,2.05,0.00,0.3,12.35,2.5,0 days 00:08:27,0,0.292857
17,1.0,2020-01-01 00:01:17,2020-01-01 00:23:50,1.0,17.4,2.0,N,132,74,1.0,...,0.0,0.5,14.70,6.12,0.3,73.62,0.0,0 days 00:22:33,0,0.282692
18,1.0,2020-01-01 00:01:21,2020-01-01 00:05:47,1.0,0.9,1.0,N,231,87,1.0,...,3.0,0.5,1.86,0.00,0.3,11.16,2.5,0 days 00:04:26,0,0.338182
19,1.0,2020-01-01 00:01:21,2020-01-01 00:12:01,2.0,1.4,1.0,N,79,234,1.0,...,3.0,0.5,2.45,0.00,0.3,14.75,2.5,0 days 00:10:40,0,0.288235

In [79]:
new['chain'] = None
piccolo=new.head(50000)

In [99]:
from datetime import timedelta

In [103]:
# Inizializzazione della variabile 'chain' e del dizionario per memorizzare i dati
location_info = {}

# Assegna il valore 1 alla prima corsa
piccolo.loc[0, 'chain'] = 1
location_info[1] = {
    'tpep_dropoff_datetime': piccolo.loc[0, 'tpep_dropoff_datetime'],
    'DOLocationID': piccolo.loc[0, 'DOLocationID'],
    'VendorID': piccolo.loc[0, 'VendorID']
}

# Variabile per gestire il numero della catena
current_chain_value = 1

# Itera sulle osservazioni a partire dalla seconda
for i in range(1, len(piccolo)):
    pickup_time = piccolo.loc[i, 'tpep_pickup_datetime']
    pickup_location = piccolo.loc[i, 'PULocationID']
    current_vendor = piccolo.loc[i, 'VendorID']
    
    # Flag per indicare se Ã¨ stata trovata una chain esistente
    chain_found = False
    
    # Controlla tutte le chain esistenti
    for chain_id, info in location_info.items():
        dropoff_time = info['tpep_dropoff_datetime']
        dropoff_location = info['DOLocationID']
        vendor = info['VendorID']

        # Verifica se la corsa attuale si collega a questa chain senza sovrapposizioni
        if (
            (timedelta(0) < (pickup_time - dropoff_time) <= timedelta(minutes=2)) and
            (pickup_location == dropoff_location) and
            (current_vendor == vendor)
        ):
            # Assegna alla corsa attuale la stessa chain_id
            piccolo.loc[i, 'chain'] = chain_id
            # Aggiorna le informazioni della chain
            location_info[chain_id] = {
                'tpep_dropoff_datetime': piccolo.loc[i, 'tpep_dropoff_datetime'],
                'DOLocationID': piccolo.loc[i, 'DOLocationID'],
                'VendorID': piccolo.loc[i, 'VendorID']
            }
            chain_found = True
            break
    
    # Se non Ã¨ stata trovata nessuna chain compatibile, crea una nuova chain
    if not chain_found:
        current_chain_value += 1
        piccolo.loc[i, 'chain'] = current_chain_value
        location_info[current_chain_value] = {
            'tpep_dropoff_datetime': piccolo.loc[i, 'tpep_dropoff_datetime'],
            'DOLocationID': piccolo.loc[i, 'DOLocationID'],
            'VendorID': piccolo.loc[i, 'VendorID']
        }

# Il dataframe 'piccolo' ora ha la colonna 'chain' popolata correttamente senza sovrapposizioni temporali

In [107]:
piccolo[['tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID', 'DOLocationID', 'chain']].sort_values(['chain','tpep_pickup_datetime']).head(20)

,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID,chain
0,2020-01-01 00:00:00,2020-01-01 00:13:03,68,170,1
538,2020-01-01 00:13:28,2020-01-01 00:31:48,170,239,1
1871,2020-01-01 00:31:54,2020-01-01 01:42:07,239,25,1
7335,2020-01-01 01:43:32,2020-01-01 01:43:32,25,264,1
7406,2020-01-01 01:44:43,2020-01-01 02:08:36,264,264,1
1,2020-01-01 00:00:03,2020-01-01 00:13:04,79,162,2
2,2020-01-01 00:00:05,2020-01-01 00:26:30,264,68,3
1485,2020-01-01 00:26:57,2020-01-01 00:32:18,68,249,3
1924,2020-01-01 00:32:40,2020-01-01 00:45:37,249,232,3
2976,2020-01-01 00:46:34,2020-01-01 01:30:24,232,142,3
6363,2020-01-01 01:30:49,2020-01-01 02:21:31,142,106,3
3,2020-01-01 00:00:07,2020-01-01 00:03:26,75,75,4
4,2020-01-01 00:00:25,2020-01-01 00:05:59,145,179,5
5,2020-01-01 00:00:26,2020-01-01 00:08:31,113,107,6
242,2020-01-01 00:08:39,2020-01-01 00:18:09,107,158,6
876,2020-01-01 00:18:31,2020-01-01 00:28:10,158,144,6
6,2020-01-01 00:00:41,2020-01-01 00:16:23,90,4,7
7,2020-01-01 00:00:48,2020-01-01 00:24:26,132,188,8
8,2020-01-01 00:00:49,2020-01-01 00:39:52,107,244,9
9,2020-01-01 00:00:50,2020-01-01 00:02:32,158,158,10